{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Curso Académico{% endblock %}

{% block content %}

    <table class="highlight bordered">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td><span class="chip">{{ cursoAcademico.nombre }}</span></td>
            </tr>
            <tr>
                <th>Fecha Inicio</th>
                <td>{% if cursoAcademico.fechaInicio %}{{ cursoAcademico.fechaInicio|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fecha Fin</th>
                <td>{% if cursoAcademico.fechaFin %}{{ cursoAcademico.fechaFin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Prefijo Expediente</th>
                <td>{{ cursoAcademico.prefijoExpediente }}</td>
            </tr>
            <tr>
                <th>En curso</th>
                <td>{% if cursoAcademico.enCurso %}<span class="chip purple lighten-4"><i class="material-icons">grade</i>En curso</span>{% else %}<span class="chip grey lighten-4">No</span>{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large waves-effect waves-light purple">
            <i class="large material-icons">menu</i>
        </a>
        <ul>
            <li><a href="{{ path('cursoacademico_index') }}" class="btn-floating waves-effect waves-light grey"><i class="material-icons">view_list</i></a></li>
            <li><a href="{{ path('cursoacademico_edit', { 'id': cursoAcademico.id }) }}" class="btn-floating btn waves-effect waves-light blue"><i class="material-icons">edit</i></a></li>
            {% if cursoAcademico.enCurso %}
                <li><a class="btn-floating btn yellow tooltipped{% if cursoAcademico.enCurso %} disabled{% endif %}" data-position="top" data-delay="50" data-tooltip="Establecer como en curso"><i class="material-icons">grade</i></a></li>
            {% else %}
                <li><a href="{{ path('cursoacademico_encurso', { 'id': cursoAcademico.id }) }}" class="btn-floating btn waves-effect waves-light yellow tooltipped" data-position="top" data-delay="50" data-tooltip="Establecer como en curso"><i class="material-icons">grade</i></a></li>
            {% endif %}

            <li><a href="#modal1" class="btn-floating btn waves-effect waves-light red modal-trigger"><i class="material-icons">delete</i></a></li>
        </ul>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal bottom-sheet">
        <div class="modal-content">
            <h5>¿Estás seguro de eliminar el curso académico: <span class="chip">{{ cursoAcademico.nombre }}</span>?</h5>
            <p>La acción es irreversible. Se eliminará todo la información relacionada con el curso académico (cursos, matriculas, preinscripciones, etc...)</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn grey">No, cancelar</a>
            {{ form_start(delete_form) }}
            <button class="modal-action modal-close waves-effect waves-green btn red" type="submit" name="action">Eliminar
                <i class="material-icons right">delete</i>
            </button>
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $( document ).ready(function() {
            $('.modal-trigger').leanModal();
        });
    </script>
{% endblock %}
