<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>{% block title %}Escuela Municipal de Música "Guillermo González"{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('images/icono-app-crokis.png') }}" />

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ asset('css/main.css') }}"  media="screen,projection"/>
</head>

<body>

<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
    <li><a href="{{ path('fos_user_change_password') }}">Cambiar contraseña</a></li>
    <li class="divider"></li>
    <li><a href="{{ path('fos_user_security_logout') }}">Cerrar sesión</a></li>
</ul>

{% set route_alumnos = ['alumno_index','alumno_new','alumno_show','alumno_edit'] %}
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper purple darken-2">
            <a href="{{ path('homepage') }}" class="brand-logo">Escuela de Música</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Preinscripcion</a></li>
                <li><a href="#">Matriculas</a></li>
                <li><a href="#">Cursos</a></li>
                <li><a class="dropdown-curso" href="#!" data-activates="dropdown1">2015/2016<i class="material-icons right">arrow_drop_down</i></a></li>
                <li class="{% if app.request.get('_route') in route_alumnos %}active{% endif %}"><a href="{{ path('alumno_index') }}">Alumnos</a></li>
                <li><a href="#"><i class="material-icons">settings</i></a></li>
                <li><a class="dropdown-perfil" href="#!" data-activates="dropdown2"><i class="material-icons">perm_identity</i></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li class="{% if app.request.get('_route') in route_alumnos %}active{% endif %}"><a href="{{ path('alumno_index') }}">Alumnos</a></li>
                <li><a href="#">Cursos</a></li>
                <li><a href="#">Matriculas</a></li>
                <li><a href="#">Preinscripcion</a></li>
                <li><a href="#">Configuración</a></li>
                <li><a href="{{ path('fos_user_change_password') }}">Cambiar contraseña</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Cerrar sesión</a></li>
            </ul>
        </div>
    </nav>
</div>

{% block body %}
<div class="container" style="margin-top: 15px">
    <div class="row">
        <div class="col s12">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}


<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ asset('materialize-src/js/bin/materialize.min.js') }}"></script>
<script>
    $( document ).ready(function(){
        $('.button-collapse').sideNav({
                    //menuWidth: 300, // Default is 240
                    //edge: 'left', // Choose the horizontal origin
                    //closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
                }
        );

        $(".dropdown-curso").dropdown();
        $(".dropdown-perfil").dropdown();
    })
</script>
{% block javascripts %}{% endblock %}
</body>
</html>