<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>{% block title %}Escuela Municipal de Música "Guillermo González"{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('images/icono-app-crokis.png') }}" />

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ asset('css/main.css') }}"  media="screen,projection"/>
    {% block stylesheets %}{% endblock %}
</head>

<body>

<ul id="dropdown-configuracion" class="dropdown-content">
    <li><a href="{{ path('cursoacademico_index') }}">Cursos Académicos</a></li>
    <li><a href="{{ path('disciplinagrupo_index') }}">Grupos disciplinas</a></li>
    <li><a href="{{ path('disciplina_index') }}">Disciplinas</a></li>
</ul>

<ul id="dropdown-perfil" class="dropdown-content">
    <li><a href="{{ path('fos_user_change_password') }}">Cambiar contraseña</a></li>
    <li class="divider"></li>
    <li><a href="{{ path('fos_user_security_logout') }}">Cerrar sesión</a></li>
</ul>

{% set route_matricula = ['matricula_index','matricula_new','matricula_show','matricula_edit'] %}
{% set route_preinscripcion = ['preinscripcion_index','preinscripcion_new','preinscripcion_show','preinscripcion_edit','preinscripcion_sortearplazas'] %}
{% set route_alumnos = ['alumno_index','alumno_new','alumno_show','alumno_edit'] %}
{% set route_configuracion = ['cursoacademico_index','cursoacademico_new','cursoacademico_show','cursoacademico_edit','disciplinagrupo_index','disciplinagrupo_new','disciplinagrupo_show','disciplinagrupo_edit','disciplina_index','disciplina_new','disciplina_show','disciplina_edit'] %}
{% set route_cursos = ['curso_index','curso_new','curso_show','curso_edit', 'curso_listados'] %}
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper purple darken-2">
            <a href="{{ path('homepage') }}" class="brand-logo">Escuela de Música</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li class="{% if app.request.get('_route') in route_preinscripcion %}active{% endif %}"><a href="{{ path('preinscripcion_index') }}">Preinscripcion</a></li>
                <li class="{% if app.request.get('_route') in route_matricula %}active{% endif %}"><a href="{{ path('matricula_index') }}">Matriculas</a></li>
                <li class="{% if app.request.get('_route') in route_cursos %}active{% endif %}"><a href="{{ path('curso_index') }}">Cursos</a></li>
                {{ render(controller('AppBundle:UI:getSelectorCursoAcademico')) }}
                <li class="{% if app.request.get('_route') in route_alumnos %}active{% endif %}"><a href="{{ path('alumno_index') }}">Alumnos</a></li>
                <li class="{% if app.request.get('_route') in route_configuracion %}active{% endif %}"><a class="dropdown-configuracion" href="#!" data-activates="dropdown-configuracion"><i class="material-icons">settings</i></a></li>
                <li><a class="dropdown-perfil" href="#!" data-activates="dropdown-perfil"><i class="material-icons">perm_identity</i></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li class="{% if app.request.get('_route') in route_alumnos %}active{% endif %}"><a href="{{ path('alumno_index') }}">Alumnos</a></li>
                <li><a href="{{ path('curso_index') }}">Cursos</a></li>
                <li><a href="{{ path('matricula_index') }}">Matriculas</a></li>
                <li><a href="{{ path('preinscripcion_index') }}">Preinscripcion</a></li>
                <li><a href="#">Configuración</a></li>
                <li><a href="{{ path('fos_user_change_password') }}">Cambiar contraseña</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Cerrar sesión</a></li>
            </ul>
        </div>
    </nav>
</div>

{% block body %}
    <div class="container" style="margin-top: 15px">
        <div class="row">
            <div class="col s12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}


<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ asset('materialize-src/js/bin/materialize.min.js') }}"></script>

{% javascripts
'@AppBundle/Resources/js/selector_curso_academico.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
    $( document ).ready(function() {
        $('.button-collapse').sideNav({
                    //menuWidth: 300, // Default is 240
                    //edge: 'left', // Choose the horizontal origin
                    //closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
                }
        );

        $(".dropdown-curso").dropdown({});
        $(".dropdown-configuracion").dropdown({
            constrain_width: false,
        });
        $(".dropdown-perfil").dropdown({
            constrain_width: false,
        });

        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                Materialize.toast("{{ flash }}",4000, "{{ label }}");
            {% endfor %}
        {% endfor %}

    })
</script>

{% block javascripts %}{% endblock %}

</body>
</html>