{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Especialidades{% endblock %}

{% form_theme form 'form/fields.html.twig' %}
{% block content %}

    {{ form_start(form) }}
    <div class="row">
        <div class="input-field col s12">
            {{ form_widget(form.disciplina) }}
            {#{{ form_label(form.disciplina) }}#}
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            {{ form_widget(form.entraEnSorteoPrematricula) }}
            {{ form_label(form.entraEnSorteoPrematricula) }}
        </div>
        <div class="col s8">
            {{ form_widget(form.numeroPlazasPrematricula) }}
            {{ form_label(form.numeroPlazasPrematricula) }}
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            {{ form_widget(form.entraEnSorteo) }}
            {{ form_label(form.entraEnSorteo) }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            {{ form_widget(form.numeroPlazas) }}
            {{ form_label(form.numeroPlazas) }}
        </div>
        <div class="input-field col s6">
            {{ form_widget(form.numeroPlazasPrioritarias) }}
            {{ form_label(form.numeroPlazasPrioritarias)  }}
        </div>
    </div>
    {{ form_rest(form) }}
    <div class="col s12 center-align">
        <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
            <button class="btn-floating btn-large waves-effect waves-light" type="submit" name="action">
                <i class="large material-icons">done</i>
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $( document ).ready(function() {

            $('select').material_select();

            $( "input" ).change(function() {
                $(this).removeClass('invalid');
            });

            {% if form_errors(form.disciplina)|length > 0 %}
                Materialize.toast("{{ form_errors(form.disciplina) }}",4000, "error", function(){$('#toast-container').remove()});
            {% endif %}

        });
    </script>
{% endblock %}