{% extends 'base.html.twig' %}

{% form_theme edit_form 'form/fields.html.twig' %}

{% block content %}
    {{ form_start(edit_form, {'attr': {'novalidate': 'novalidate'}}) }}
    <h5>Datos del alumno</h5>
    <div class="row">
        <div class="input-field col s12 m5">
            {{ form_widget(edit_form.nombre) }}
            {{ form_label(edit_form.nombre)  }}
        </div>
        <div class="input-field col s12 m7">
            {{ form_widget(edit_form.apellidos) }}
            {{ form_label(edit_form.apellidos) }}
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 m2">
            {{ form_widget(edit_form.fechaNacimiento) }}
            {{ form_label(edit_form.fechaNacimiento) }}
        </div>
        <div class="input-field col s12 m2">
            {{ form_widget(edit_form.dni) }}
            {{ form_label(edit_form.dni) }}
        </div>
        <div class="input-field col s12 m6">
            {{ form_widget(edit_form.direccion) }}
            {{ form_label(edit_form.direccion) }}
        </div>
        <div class="input-field col s12 m2">
            {{ form_widget(edit_form.anoIngreso) }}
            {{ form_label(edit_form.anoIngreso) }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m3">
            {{ form_widget(edit_form.codigoPostal) }}
            {{ form_label(edit_form.codigoPostal) }}
        </div>
        <div class="input-field col s12 m9">
            {{ form_widget(edit_form.localidad) }}
            {{ form_label(edit_form.localidad) }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m3">
            {{ form_label(edit_form.telefonoFijo) }}
            {{ form_widget(edit_form.telefonoFijo) }}
        </div>
        <div class="input-field col s12 m3">
            {{ form_label(edit_form.telefonoMovil) }}
            {{ form_widget(edit_form.telefonoMovil) }}
        </div>
        <div class="input-field col s12 m6">
            {{ form_widget(edit_form.email) }}
            {{ form_label(edit_form.email) }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m12">
            {{ form_label(edit_form.observaciones) }}
            {{ form_widget(edit_form.observaciones) }}
        </div>
    </div>

    <h5>Datos del padre/madre/tutor</h5>
    <div class="row">
        <div class="input-field col s12 m12">
            {{ form_label(edit_form.tutor.dni) }}
            {{ form_widget(edit_form.tutor.dni) }}
        </div>
        <div class="input-field col s12 m12">
            {{ form_label(edit_form.tutor.nombre) }}
            {{ form_widget(edit_form.tutor.nombre) }}
        </div>
        <div class="input-field col s12 m12">
            {{ form_label(edit_form.tutor.apellidos) }}
            {{ form_widget(edit_form.tutor.apellidos) }}
        </div>
    </div>

    {{ form_rest(edit_form) }}
    <div class="col s12 center-align">
        <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
            <button class="btn-floating btn-large waves-effect waves-light" type="submit" name="action">
                <i class="large material-icons">done</i>
            </button>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $( document ).ready(function() {
            $('.datepicker').pickadate({
                selectYears: 100,
                monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                weekdaysFull: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                showMonthsShort: undefined,
                showWeekdaysFull: undefined,
                // Buttons
                today: 'Hoy',
                clear: 'Limpiar',
                close: 'Cerrar',
                // Accessibility labels
                labelMonthNext: 'Siguiente mes',
                labelMonthPrev: 'Mes anterior',
                labelMonthSelect: 'Escoge un mes',
                labelYearSelect: 'Escoge un año',

                //The format to show on the `input` element
                format: 'dd/mm/yyyy',
                closeOnSelect: true,
            });
        });

        $( "input" ).change(function() {
            $(this).removeClass('invalid');
        });
    </script>
{% endblock %}