{% extends 'base.html.twig' %}

{% form_theme form 'form/fields.html.twig' %}

{% block content %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <h5>Datos del alumno</h5>
    <div class="row">
        <div class="input-field col s12 m5">
            {{ form_widget(form.nombre) }}
            {{ form_label(form.nombre)  }}
        </div>
        <div class="input-field col s12 m7">
            {{ form_widget(form.apellidos) }}
            {{ form_label(form.apellidos) }}
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12 m2">
            {{ form_widget(form.fechaNacimiento) }}
            {{ form_label(form.fechaNacimiento) }}
        </div>
        <div class="input-field col s12 m2">
            {{ form_widget(form.dni) }}
            {{ form_label(form.dni) }}
        </div>
        <div class="input-field col s12 m6">
            {{ form_widget(form.direccion) }}
            {{ form_label(form.direccion) }}
        </div>
        <div class="input-field col s12 m2">
            {{ form_widget(form.anoIngreso) }}
            {{ form_label(form.anoIngreso) }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m3">
            {{ form_widget(form.codigoPostal) }}
            {{ form_label(form.codigoPostal) }}
        </div>
        <div class="input-field col s12 m9">
            {{ form_widget(form.localidad) }}
            {{ form_label(form.localidad) }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m3">
            {{ form_label(form.telefonoFijo) }}
            {{ form_widget(form.telefonoFijo) }}
        </div>
        <div class="input-field col s12 m3">
            {{ form_label(form.telefonoMovil) }}
            {{ form_widget(form.telefonoMovil) }}
        </div>
        <div class="input-field col s12 m6">
            {{ form_widget(form.email) }}
            {{ form_label(form.email) }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m12">
            {{ form_label(form.observaciones) }}
            {{ form_widget(form.observaciones) }}
        </div>
    </div>

    <h5>Datos del padre/madre/tutor</h5>
    <div class="row">
        <div class="input-field col s12 m12">
            {{ form_label(form.tutor.dni) }}
            {{ form_widget(form.tutor.dni) }}
        </div>
        <div class="input-field col s12 m12">
            {{ form_label(form.tutor.nombre) }}
            {{ form_widget(form.tutor.nombre) }}
        </div>
        <div class="input-field col s12 m12">
            {{ form_label(form.tutor.apellidos) }}
            {{ form_widget(form.tutor.apellidos) }}
        </div>
    </div>

    {{ form_rest(form) }}
    <div class="col s12 center-align">
        <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
            <button class="btn-floating btn-large waves-effect waves-light" type="submit" name="action">
                <i class="large material-icons">done</i>
            </button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $( document ).ready(function() {
            {% set fecha_max = '31-12-'~('now - 4year'|date('Y')) %}
            $('.datepicker').pickadate({
                container: 'body',
                max: "{{ fecha_max }}",
                selectYears: 100,
                monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                weekdaysFull: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                showMonthsShort: undefined,
                showWeekdaysFull: undefined,
                // Buttons
                today: false,
                clear: false,
                close: 'Ok',
                // Accessibility labels
                labelMonthNext: 'Siguiente mes',
                labelMonthPrev: 'Mes anterior',
                labelMonthSelect: 'Escoge un mes',
                labelYearSelect: 'Escoge un año',

                //The format to show on the `input` element
                format: 'dd/mm/yyyy',
                closeOnSelect: true,
            });
        });

        $( "input" ).change(function() {
            $(this).removeClass('invalid');
        });

    </script>
{% endblock %}