{% extends 'base.html.twig' %}

{% block content %}
    <h3>Alumno</h3>

    <table  class="highlight bordered responsive-table">
        <tbody>
            <tr>
                <th>Expediente</th>
                <td class="right-align">{{ alumno.expediente }}</td>
            </tr>
            <tr>
                <th>Dni</th>
                <td class="right-align">{% if alumno.dni %}{{ alumno.dni }}{% else %}---{% endif %}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td class="right-align">{{ alumno.nombre }} {{ alumno.apellidos }}</td>
            </tr>
            <tr>
                <th>Año Ingreso</th>
                <td class="right-align">{{ alumno.añoIngreso }}</td>
            </tr>
            <tr>
                <th>Localidad</th>
                <td>{{ alumno.localidad }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ alumno.direccion }}</td>
            </tr>
            <tr>
                <th>Codigopostal</th>
                <td>{{ alumno.codigoPostal }}</td>
            </tr>
            <tr>
                <th>Telefonofijo</th>
                <td>{{ alumno.telefonofijo }}</td>
            </tr>
            <tr>
                <th>Telefonomovil</th>
                <td>{{ alumno.telefonoMovil }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ alumno.email }}</td>
            </tr>
            <tr>
                <th>Fechanacimiento</th>
                <td>{% if alumno.fechaNacimiento %}{{ alumno.fechaNacimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ alumno.observaciones }}</td>
            </tr>
            <tr>
                <th>Createat</th>
                <td>{% if alumno.createAt %}{{ alumno.createAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('alumno_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('alumno_edit', { 'id': alumno.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
