{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Alumnos{% endblock %}

{% block content %}
    {#<h3>{{ alumno.nombre }} {{ alumno.apellidos }}</h3>#}

    <table class="highlight bordered">
        <tbody>
        <tr>
            <th>Expediente</th>
            <td class="right-align"><span class="chip">{{ alumno.expediente }}</span></td>
        </tr>
        <tr>
            <th>Dni</th>
            <td class="right-align">{% if alumno.dni %}{{ alumno.dni }}{% else %}---{% endif %}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td class="right-align">{{ alumno.nombre }} {{ alumno.apellidos }}</td>
        </tr>
        <tr>
            <th>Año Ingreso</th>
            <td class="right-align">{% if alumno.anoIngreso %}{{ alumno.anoIngreso }}{% else %}---{% endif %}</td>
        </tr>
        <tr>
            <th>Localidad</th>
            <td class="right-align">{{ alumno.localidad }}</td>
        </tr>
        <tr>
            <th>Direccion</th>
            <td class="right-align">{{ alumno.direccion }}</td>
        </tr>
        <tr>
            <th>Codigo Postal</th>
            <td class="right-align">{{ alumno.codigoPostal }}</td>
        </tr>
        <tr>
            <th>Telefono Fijo</th>
            <td class="right-align">{% if alumno.telefonoFijo %}{{ alumno.telefonoFijo }}{% else %}---{% endif %}</td>
        </tr>
        <tr>
            <th>Telefono Movil</th>
            <td class="right-align">{% if alumno.telefonoMovil%}{{ alumno.telefonoMovil}}{% else %}---{% endif %}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td class="right-align">{% if alumno.email %}<a href="mailto:{{ alumno.email }}">{{ alumno.email }}</a>{% else %}---{% endif %}</td>
        </tr>
        <tr>
            <th>Fecha Nacimiento</th>
            <td class="right-align">{% if alumno.fechaNacimiento %}{{ alumno.fechaNacimiento|date('d/m/Y') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Observaciones</th>
            <td class="right-align">{{ alumno.observaciones }}</td>
        </tr>
        <tr>
            <th>Añadido al sistema el</th>
            <td class="right-align">{% if alumno.createAt %}{{ alumno.createAt|date('d/m/Y H:i:s') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large waves-effect waves-light purple">
            <i class="large material-icons">menu</i>
        </a>
        <ul>
            <li><a href="{{ path('alumno_index') }}" class="btn-floating waves-effect waves-light grey"><i class="material-icons">view_list</i></a></li>
            <li><a href="{{ path('alumno_edit', { 'id': alumno.id }) }}" class="btn-floating btn waves-effect waves-light blue"><i class="material-icons">edit</i></a></li>
            <li><a href="#modal1" class="btn-floating btn waves-effect waves-light red modal-trigger"><i class="material-icons">delete</i></a></li>
        </ul>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal bottom-sheet">
        <div class="modal-content">
            <h5>¿Estás seguro de eliminar a {{ alumno.nombre }} {{ alumno.apellidos }}?</h5>
            <p>La acción es irreversible. Se eliminará todo la información asociada al expediente {{ alumno.expediente }}.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn grey">No, cancelar</a>
            {{ form_start(delete_form) }}
            <button class="modal-action modal-close waves-effect waves-green btn red" type="submit" name="action">Eliminar
                <i class="material-icons right">delete</i>
            </button>
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $( document ).ready(function() {
            $('.modal-trigger').leanModal();
        });
    </script>
{% endblock %}