{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Disciplinas{% endblock %}

{% form_theme form 'form/fields.html.twig' %}

{% block content %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="input-field col s12">
            {{ form_widget(form.nombre) }}
            {{ form_label(form.nombre) }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            {{ form_widget(form.edadMinima) }}
            {{ form_label(form.edadMinima) }}
        </div>
        <div class="input-field col s6">
            {{ form_widget(form.edadMaxima) }}
            {{ form_label(form.edadMaxima) }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            {{ form_widget(form.disciplinaGrupo) }}
            {#{{ form_label(form.disciplinaGrupo) }}#}
        </div>
    </div>

    {{ form_rest(form) }}
    <div class="col s12 center-align">
        <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
            <button class="btn-floating btn-large waves-effect waves-light" type="submit" name="action">
                <i class="large material-icons">done</i>
            </button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}

    <script>
        $( document ).ready(function() {

            $('select').material_select();

        });
    </script>

{% endblock %}