{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Preinscipciones{% endblock %}

{% block content %}

    <table class="highlight bordered">
        <thead>
            <tr>
                <th>Identificador</th>
                <th>Dni</th>
                <th>Nombre</th>
                <th class="center-align">Fecha de Nacimiento</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for preinscripcion in preinscripciones %}
            <tr onclick="document.location = '{{ path('preinscripcion_show', { 'id': preinscripcion.id }) }}';">
                <td><span class="chip">{{ preinscripcion.identificador }}</span></td>
                <td>{% if preinscripcion.dni %}{{ preinscripcion.dni }}{% else %}---{% endif %}</td>
                <td>{{ preinscripcion.apellidos }}, {{ preinscripcion.nombre }}</td>
                <td class="center-align">{% if preinscripcion.fechaNacimiento %}{{ preinscripcion.fechaNacimiento|date('d/m/Y') }}{% endif %}</td>
                <td class="center-align">{% if preinscripcion.prioridad %}<i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Prioridad">grade</i>{% endif %}</td>
                <td class="center-align">{% if preinscripcion.empadronado %}<i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Empadronado">room</i>{% endif %}</td>
                <td class="hide-on-small-only right-align">
                    <a href="{{ path('preinscripcion_show', { 'id': preinscripcion.id }) }}" class="btn-floating btn waves-effect waves-light yellow"><i class="material-icons">zoom_in</i></a>
                    {% if not preinscripcion.cursoAcademico.generacionDeListas %}
                        <a href="{{ path('preinscripcion_edit', { 'id': preinscripcion.id }) }}" class="btn-floating btn waves-effect waves-light blue"><i class="material-icons">edit</i></a>
                    {% else %}
                        <a class="btn-floating btn waves-effect waves-light blue disabled tooltipped" data-position="top" data-delay="50" data-tooltip="Las preinscripciones no son editables después del sorteo"><i class="material-icons">edit</i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(preinscripciones) }}

    <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large waves-effect waves-light purple">
            <i class="large material-icons">menu</i>
        </a>
        <ul>
            <li><a href="{{ path('preinscripcion_new') }}" class="btn-floating waves-effect waves-light green"><i class="material-icons">add</i></a></li>
            {% if preinscripciones|length > 0 %}
                <li><a href="#modal-buscardor-preinscripcion" class="btn-floating waves-effect waves-light indigo modal-trigger"><i class="material-icons">search</i></a></li>
                <li><a href="{{ path('preinscripcion_descargarlistado') }}?tipo-listado={{ constant('\\AppBundle\\Controller\\PreinscripcionController::LISTADO_PRIORIDAD') }}" class="btn-floating waves-effect waves-light blue-grey tooltipped" data-position="top" data-delay="50" data-tooltip="Descargar listado PRIORIDAD"><i class="material-icons">description</i></a></li>
                <li><a href="{{ path('preinscripcion_descargarlistado') }}?tipo-listado={{ constant('\\AppBundle\\Controller\\PreinscripcionController::LISTADO_NO_EMPADRONADOS') }}" class="btn-floating waves-effect waves-light blue-grey tooltipped" data-position="top" data-delay="50" data-tooltip="Descargar listado NO EMPADRONADOS"><i class="material-icons">description</i></a></li>
                <li><a href="{{ path('preinscripcion_descargarlistado') }}?tipo-listado={{ constant('\\AppBundle\\Controller\\PreinscripcionController::LISTADO_EMPADRONADOS') }}" class="btn-floating waves-effect waves-light blue-grey tooltipped" data-position="top" data-delay="50" data-tooltip="Descargar listado EMPADRONADOS"><i class="material-icons">description</i></a></li>
                <li><a href="{{ path('listado', { 'slug' : cursoAcademico.slug }) }}" class="btn-floating waves-effect waves-light lime modal-trigger tooltipped" data-position="top" data-delay="50" data-tooltip="Listado web"><i class="material-icons left">view_list</i> Listado web</a></li>
            {% endif %}
        </ul>
    </div>

    <!-- Modal Structure -->
    <div id="modal-buscardor-preinscripcion" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Buscador pre-inscripción</h4>
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s6">
                        <input placeholder="Identificador" id="modal-buscardor-preinscripcion_identificador" type="number" min="0" class="" value="{{ filter['identificador'] }}">
                        <label for="modal-buscardor-alumno_expediente">Identificador</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="DNI" id="modal-buscardor-preinscripcion_dni" type="text" class="" value="{{ filter['dni'] }}">
                        <label for="modal-buscardor-alumno_dni">DNI</label>
                    </div>
                    <div class="input-field col s4">
                        <input placeholder="Nombre" id="modal-buscardor-preinscripcion_nombre" type="text" class="" value="{{ filter['nombre'] }}">
                        <label for="modal-buscardor-alumno_nombre">Nombre</label>
                    </div>
                    <div class="input-field col s8">
                        <input placeholder="Apellidos" id="modal-buscardor-preinscripcion_apellidos" type="text" class="" value="{{ filter['apellidos'] }}">
                        <label for="modal-buscardor-alumno_apellidos">Apellidos</label>
                    </div>
                    <div class="input-field col s12">
                        <input placeholder="Fecha Nacimiento" id="modal-buscardor-preinscripcion_fecha_nacimiento" type="date" class="datepicker" value="{% if filter['fecha_nacimiento'] %}{{ filter['fecha_nacimiento']|date('d/m/Y') }}{% endif %}">
                        <label for="modal-buscardor-alumno_fecha_nacimiento">Fecha Nacimiento</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-purple btn-flat ">Cancelar</a>
            <a id="btn-buscador" class="modal-action waves-effect waves-purple btn-flat ">Buscar</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $( document ).ready(function() {
            $('.modal-trigger').leanModal();

            {% set fecha_max = '31-12-'~('now - 4year'|date('Y')) %}
            $('.datepicker').pickadate({
                container: 'body',
                max: "{{ fecha_max }}",
                selectYears: 100,
                monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                weekdaysFull: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                showMonthsShort: undefined,
                showWeekdaysFull: undefined,
                // Buttons
                today: false,
                clear: 'Limpiar',
                close: 'Ok',
                // Accessibility labels
                labelMonthNext: 'Siguiente mes',
                labelMonthPrev: 'Mes anterior',
                labelMonthSelect: 'Escoge un mes',
                labelYearSelect: 'Escoge un año',

                //The format to show on the `input` element
                format: 'dd/mm/yyyy',
                closeOnSelect: true,
            });

            $("#modal-buscardor-preinscripcion").on("click", "#btn-buscador", function () {
                var identificador = $('#modal-buscardor-preinscripcion_identificador').val();
                var dni = $('#modal-buscardor-preinscripcion_dni').val();
                var nombre = $('#modal-buscardor-preinscripcion_nombre').val();
                var apellidos = $('#modal-buscardor-preinscripcion_apellidos').val();
                var fecha_nacimiento = $('#modal-buscardor-preinscripcion_fecha_nacimiento').val();

                var params = "";
                if(identificador)
                    params = params + "identificador=" + identificador;
                if(dni)
                    params = params + ( params.length > 0 ? "&dni=" + dni : "dni=" + dni);
                if(nombre)
                    params = params + ( params.length > 0 ? "&nombre=" + nombre : "nombre=" + nombre);
                if(apellidos)
                    params = params + ( params.length > 0 ? "&apellidos=" + apellidos : "apellidos=" + apellidos);
                if(fecha_nacimiento) {
                    fecha_nacimiento = fecha_nacimiento.replace(/\//g,"");
                    params = params + ( params.length > 0 ? "&fecha_nacimiento=" + fecha_nacimiento : "fecha_nacimiento=" + fecha_nacimiento);
                }

                var url = "{{ path('preinscripcion_index') }}";

                if(params.length > 0) {
                    url = url + "?" + params;

                }

                window.location.href = url;
            });


        });
    </script>
{% endblock  %}