{% if pageCount > 1 %}
    <div class="row">
        <div class="col s12 center-align">
            <div class="pagination">
                {% if first is defined and current != first %}
                    <li class="waves-effect"><a href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><i class="material-icons">chevron_left</i></a></li>
                {% else %}
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                {% endif %}

                {% for page in pagesInRange %}
                    {% if page != current %}
                        <li class="waves-effect"><a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
                    {% else %}
                        <li class="active"><a href="#!">{{ page }}</a></li>
                    {% endif %}

                {% endfor %}

                {% if last is defined and current != last %}
                    <li class="waves-effect"><a href="{{ path(route, query|merge({(pageParameterName): next})) }}"><i class="material-icons">chevron_right</i></a></li>
                {% else %}
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
